{
	"tabWidth": 4,
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto"
}
